body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 , nav, figure {
  text-align: center;
}

#featured-property {
  /* Your code here! */
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
}


#details {
  /* Your code here! */
background: red;
}

table {
  border-collapse: separate;
  border-spacing: 200px 0;
  table-layout: auto;
  width: 780px;
}
